﻿<!--Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Gridiron at Flatiron</title>
    <meta name="description" content="Trendset Page under construction">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin+Sketch:regular,bold" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body id="home">
    <div id="Header">
        <div class="wrapper">
            <h1>Gridiron at Flatiron</h1>
        </div>
    </div>
    <div id="Content" class="wrapper">
        @*<h2 class="intro">The battle begins!</h2>*@
        <div class="countdown styled"></div>
        <div id="socialIcons">
            <ul>
                <li><a href="https://twitter.com/ms_ignite" title="Twitter" class="twitterIcon"></a></li>
                <li><a href="https://www.facebook.com/MicrosoftIgnite/" title="facebook" class="facebookIcon"></a></li>
                <li><a href="https://www.linkedin.com/company/microsoft" title="linkedIn" class="linkedInIcon"></a></li>
                <li><a href="https://www.pinterest.com/search/?q=%23MsIgnite&rs=hashtag&etslf=1474475146795&term_meta[]=%2523MsIgnite%7Chashtag" title="Pintrest" class="pintrestIcon"></a></li>
            </ul>
        </div>
    </div>

    <div id="overlay"></div>

    <!--Scripts-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/Backstretch.js"></script>
    <script type="text/javascript" src="~/js/jquery.countdown.js"></script>
    <script type="text/javascript" src="~/js/global.js"></script>

    @{ IgnoreBody(); }
</body>
</html>
